:root {
}

:root.theme-dark {
  --bg_path: url("../images/cover-image-dark.png");
  --bg_color: rgba(0, 0, 40, 1);

  --decor-color: rgba(255, 0, 112, 1);
  --accent-color: rgb(255, 0, 112);
  --accent_dark_color: rgba(0, 0, 40, 1);

  --header_button_corner_color: rgba(255, 0, 112, 1);
  --header_hover_outline_color: rgba(255, 0, 112, 0.4);
  --header_title_large_color: rgba(219, 0, 255, 1);

  --main_primary_title_color: rgba(255, 0, 112, 1);

  --font_color: rgba(241, 178, 206, 1);

  --main-font: "IBM Plex Mono", sans-serif;

  --rec_display_switch: grid;

  --footer_title_large_shadow: none;
}