/* MAIN STYLES*/

body {
  font-family: var(--main-font), monospace;
  font-size: 1.125rem;
  color: var(--font_color);
  margin: 0 auto;
  padding: 0;
  line-height: 1.4625rem;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-shadow: 0.125rem 0.125rem 0 var(--decor-color);
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--font_color);
}

a:focus-visible {
  outline: 1px solid var(--font_color);
}

.page {
  background-image: var(--bg_path);
  background-color: var(--bg_color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.title-decor {
  background-color: var(--decor-color);
}

.section__title {
  color: var(--main_primary_title_color);
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.card__title {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--accent_dark_color);
  margin: 0 0 0.625rem 0;
}

.card__subtitle {
  color: var(--accent_dark_color);
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0 0 0.625rem 0;
}

/* HEADER */

.header {
  height: 100vh;
  min-height: 41.75rem;
  padding: 0.625rem;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__controls-container {
  display: grid;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, auto);
  list-style: none;
  gap: 0.625rem;
}

.header__theme-menu-item button {
  color: var(--header_button_corner_color);
  background-color: transparent;
  border: none;
  min-width: 4.375rem;
  min-height: 1.625rem;
  line-height: 1rem;
}

.header__theme-menu-item button:disabled {
  border: 1px solid var(--header_button_corner_color);
}

.header__theme-menu-item button:not(:disabled):hover {
  border: 1px solid var(--header_hover_outline_color);
}

.header__theme-menu-item button:not(:disabled):focus-visible {
  outline: none;
  border-bottom: 1px solid var(--header_button_corner_color);
}

.header__rec-label {
  position: absolute;
  top: 0.625rem;
  right: 1.1rem;
  display: var(--rec_display_switch);
  grid-auto-flow: column;
  justify-self: center;
  align-items: center;
  gap: 0.625rem;
  width: 3.25rem;
  height: 1.625rem;
  font-size: 1em;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  line-height: 1.5625rem;
}

.header__rec-label::after {
  content: "";
  min-width: 0.5625rem;
  min-height: 0.5625rem;
  background-color: var(--decor-color);
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  box-shadow: 0px 0px 4px 2px var(--decor-color);
}

.corner-decor {
  position: relative;
  overflow: visible;
}

.corner-decor::before {
  content: "";
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  border-style: solid;
  border-color: var(--header_button_corner_color);
  border-width: 1px 1px 0 0;
}

.corner-decor::after {
  content: "";
  position: absolute;
  left: 0.625rem;
  bottom: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  border-style: solid;
  border-color: var(--header_button_corner_color);
  border-width: 0 0 1px 1px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header_title_large_color);
  font-weight: 700;
  text-shadow: 0.25rem 0.25rem 0 var(--accent-color);
  line-height: 0.83;
  align-self: start;
}

.header__subtitle {
  display: block;
  font-weight: 700;
  color: rgba(0, 0, 40, 1);
  padding: 0;
  line-height: 1.4625rem;
  align-self: center;
  white-space: normal;
  overflow-wrap: break-word;
}

.header__subtitle span {
  display: block;
}

/* TEXT BLOCKS  */

main {
  padding-inline: var(--gap-md);
}

.main__content {
  margin-block-start: var(--gap-container);
}

.text-section {
  margin-block-start: var(--gap-section);
}

.text-section:first-of-type {
  margin-block-start: 0;
}

.text-section__texts-title {
  margin-block-start: var(--gap-lg);
}

.section__card {
  margin-block: var(--gap-lg);
}

.card__content {
  margin-block-start: var(--gap-md);
}

.card__content p {
  margin: 0;
  padding: 0;
}

.card__content p + p {
  margin-block-start: var(--gap-md);
}

.section__card > h3,
.section__card > h4 {
  margin-block-end: var(--gap-md);
}

/* GALLERY */

.gallery {
  width: 100%;
  min-width: auto;
  box-sizing: border-box;
  margin-top: 3.125rem;
}

.gallery__container {
  display: grid;
  gap: 0.625rem;
}

.gallery__container img {
  width: 22.1875rem;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */

footer {
  display: flex;
  height: 100vh;
  min-height: 41.75rem;
  margin-top: 2.5rem;
  box-sizing: border-box;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--header_title_large_color);
  text-shadow: var(--footer_title_large_shadow);
  font-weight: 700;
  margin: 0 auto;
  line-height: 0.83;
}

@media (min-width: 768px) {
  /* HEADER */
  .header {
    padding: 1.25rem;
    grid-template-columns: 1fr 1fr;
  }

  .header__controls-container {
    grid-column: 1/3;
  }

  .header__rec-label {
    top: 1.25rem;
    right: 1.75rem;
  }

  .corner-decor::before {
    top: 1.25rem;
    right: 1.25rem;
  }

  .corner-decor::after {
    left: 1.25rem;
    bottom: 1.25rem;
  }

  .header__title {
    margin-left: -1.5rem;
    grid-column: 1/3;
  }

  .header__subtitle {
    grid-column: 2/3;
  }

  /* TEXT BLOCKS  */
  main {
    padding-inline: var(--gap-lg);
  }

  .text-section_type_primary {
    display: grid;
    grid-template: repeat(2, min-content) / 1fr 2fr;
    column-gap: var(--gap-lg);
  }

  .text-section_type_secondary {
    display: grid;
    column-gap: var(--gap-lg);
  }

  .text-section_type_secondary .text-section__texts {
    grid-column: 1/6;
  }

  .text-section_type_primary .section__card {
    margin-block-start: 0;
  }

  .text-section__texts > .card__title:first-child {
    margin-block: 0 var(--gap-lg);
  }

  .text-section_type_primary .section__card:last-child,
  .text-section_type_secondary .section__card:last-child {
    margin-block-end: 0;
  }

  /* GALLERY */
  .gallery {
    margin-top: 5rem;
  }

  .gallery__container {
    gap: 1.25rem;
    margin-top: 1.25rem;
  }

  .gallery__container img {
    width: 100%;
  }

  .gallery__item_type_wide-top {
    grid-column: 1/3;
    grid-row: 1;
  }

  .gallery__item_type_tall-left {
    grid-column: 1;
    grid-row: 2/4;
  }

  .gallery__item_type_tall-right {
    grid-column: 3;
    grid-row: 1/3;
  }

  .gallery__item_type_small-center {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item_type_wide-bottom {
    grid-column: 2/4;
    grid-row: 3;
  }

  /* FOOTER */
  footer {
    margin-top: 3.75rem;
    min-height: 64rem;
  }
}

@media (min-width: 1024px) {
  /* HEADER */
  .header__controls-container {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 4.375rem);
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  /* TEXT BLOCKS */
  .text-section_type_primary .text-section__texts {
    grid-column: 2/4;
  }

  .text-section_type_secondary {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .text-section_type_secondary .text-section__texts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.25rem;
  }

  /* FOOTER */
  footer {
    min-height: 48rem;
  }
}
